doctype html
html
  head
    title Development Servers
    link(rel="stylesheet", href="style.css")
  body
    table
      tr
        th id
        th prNo
        th port1
        th port2
        th status
        th urls
      each val, index in servers
        tr
          td #{val.id}
          td #{val.prNo}
          td #{val.port1}
          td #{val.port2}
          td #{val.status}
          td
            each url in val.url
              a(href="http://#{url}") #{url}
              span &emsp;
